{% extends "login_app/base.html" %}
{% load static %}

{% block body_block %}
<div class="container">
<div class="jumbotron text-center" >
  {% if registered %}
  <h1>Thank you for registering !!!</h1>
  {% else %}
  <h2>Register here</h2>
  <h4>Fill out the form:</h4>
</div>
</div>


<div class="container">




  <form  class="well form-horizontal" enctype="multipart/form-data" method="post">
    <div class="form-group">


    {% csrf_token %}
    <div class="col-md-20">

    {{ user_form.as_p }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-20">
    {{ profile_form.as_p }}
  </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">I Agree Terms and conditions
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </div>
  </div>


  </form>
</div>

  {% endif %}


{% endblock %}
